[submodule "mod/room"]
	path = mod/room
	url = https://github.com/leoauri/moodle-mod_room.git
[submodule "mod/bigbluebuttonbn"]
	path = mod/bigbluebuttonbn
	url = https://github.com/blindsidenetworks/moodle-mod_bigbluebuttonbn.git
[submodule "mod/attendance"]
	path = mod/attendance
	url = https://github.com/flocko-motion/moodle-mod_attendance.git
